/* generales */
.boletin-cont .uc-heading-decoration { background-color: #ed8dbe; }
.boletin-cont a.uc-btn, .boletin-cont button.uc-btn { background-color:#fff;border:3px solid #ed8dbe; }
.boletin-cont a:hover.uc-btn, .boletin-cont a:focus.uc-btn, .boletin-cont button:hover.uc-btn, .boletin-cont button:focus.uc-btn { background-color:#ed8dbe; }

/* boletin */
.boletin-head { width:100%;display:inline-block; }
.boletin-head .logo-cedetianos { width:420px;float:left; }
.boletin-head .logo-cedetianos img { width:100%;margin-top:10px; }
.boletin-head .logo-cedetitv { width:450px;float:right;margin-bottom:20px; }
.boletin-head .logo-cedetitv p { width:210px;float:left;margin-top:30px; }
.boletin-head .logo-cedetitv a { width:240px;float:right;padding:10px 30px;display:inline-block;background-color:#fff;border:3px solid #ed8dbe;margin-top:0px;border-radius:50px; }
.boletin-head .logo-cedetitv img { width:180px;margin-top:-30px; }
.boletin-head .logo-cedetitv a:hover, .btn-cedetitv a:focus, .btn-cedetitv a:active { background-color:#ed8dbe;border:3px solid #ed8dbe; }

/* boletin portada */
.boletin-lista { width:100%; }

.boletin-portada .card { width:100%;display:flex !important;margin-top:24px; }
.boletin-portada .card .img { width:40%;min-height:100%;float:left;overflow:hidden;margin-left:-20px;margin-bottom:-20px;margin-top:-20px;border-radius:20px 0 0 20px;background-size:190%;background-position:center;position:relative; }
.boletin-portada .card .img img { width:90%;position:absolute;bottom:30px;left:5%; }
.boletin-portada .card .txt { width:60%;float:right;padding-right:15px;margin-left:30px; }
.boletin-portada .card .txt h3 { margin-bottom:0px; }

.boletin-cont .img-item { width:112%;height:240px;margin-left:-6%;margin-top:-20px;display: inline-block;background-position: center;background-size: cover;border-radius:20px 20px 0 0; }
.boletin-cont .img-item a { width:100%;height:100%;color:#fff;display:inline-block;padding:20px;position:relative;background-image:linear-gradient(180deg, rgba(43, 76, 137, 0) 30%, rgba(0, 0, 0, 0.7) 90%);transition:all ease .5s;-webkit-transition:all ease .5s;-moz-transition:all ease .5s; }
.boletin-cont .img-item a h3 { color:#fff;display: block;position: absolute;bottom:20px; }
.boletin-cont .img-item a h3 .uc-text-divider { background: #fff;margin-bottom: 0;transition:all ease .5s;-webkit-transition:all ease .5s;-moz-transition:all ease .5s; }
.boletin-cont .img-item a:hover { background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.7) 50%); }
.boletin-cont .img-item a:hover h3 .uc-text-divider { width:280px; }
.boletin-cont .uc-card_body { margin-top:15px; }

/* boletin menu */
.boletin-menu .img img { width:100%; }
.boletin-menu .card { width:100%; }
.boletin-menu ul { margin:0;padding:0;margin-top:2px; }
.boletin-menu ul li { margin:0;margin-left:-20px;list-style:none; }
.boletin-menu ul li span { padding:0 20px 18px 20px;display:inline-block;font-weight:bold; }
.boletin-menu ul li a { border-left:5px solid #ed8db3;padding:7px 12px;display:inline-block;color:#000;border-bottom:1px solid #dadada;margin-top:-1px;width:108%;border-top:1px solid #dadada;display:inline-block; }
.boletin-menu ul li a:hover, .boletin-menu ul li a:focus { background-color:#ed8db3;text-decoration:none; }
.boletin-menu ul li a.active { background-color:#E14192;color:#fff; }

.boletin-menu h3 { margin-bottom:36px; }
.boletin-menu ul li h3 { margin-bottom:0px; }
.boletin-menu .tit-cedetitv { width:100%;margin-bottom:36px; }
.boletin-menu .tit-cedetitv img { width:180px;margin-top:-30px; }
.boletin-menu ul li.cedetitv img { width:180px;margin-top:-30px; }

/** tipos de contenido **/
/* 1. editorial */
.boletin-cont-editorial .card { width:100%;display:flex !important; }
.boletin-cont-editorial .card .img { width:35%;min-height:100%;float:left;overflow:hidden;margin-left:-20px;margin-bottom:-20px;margin-top:-20px;border-radius:20px 0 0 20px;background-size:cover;background-position:center;position:relative; }
.boletin-cont-editorial .card .img img { width:80%;position:absolute;bottom:30px;left:3%; }
.boletin-cont-editorial .card .txt { width:65%;float:right;padding-right:15px;margin-left:30px; }
.boletin-cont-editorial .card .txt h3 { margin-bottom:20px; }
.boletin-cont-editorial ul { margin:0;padding:0;margin-bottom:24px; }
.boletin-cont-editorial ul li { margin:0;padding:0;list-style:none; }

/* 2. item sencillo */
.boletin-cont-item .card { width:100%;display:flex !important;margin-bottom:24px;padding:0 !important; }
.boletin-cont-item .card .container { padding:15px 30px;width:100%; }
.boletin-cont-item .card .img { width:40%;float:left;border-radius:20px 0 0 20px;min-height:100%;background-position:center;background-size:cover; }
.boletin-cont-item .card .img img { width:100px;border-radius:50px;border:4px solid #ed8dbe;float:right;margin-top:-15px;margin-right:-10px; }
.boletin-cont-item .card .txt { width:58.5%;float:right;padding-right:15px;padding:20px; }
.boletin-cont-item .card .txt h3 { margin-bottom:20px; }

/* 3. fotiwis */
.carousel-inner { width:110%;margin-left:-5%;border-radius:10px;overflow:hidden; }
.carousel-control-next, .carousel-control-prev { width: 5%;display:inline-block; }
.carousel-control-next-icon, .carousel-control-prev-icon { width: 3rem;height: 3rem; }
.carousel-control-prev-icon { background-image:url(../img/icon_izq.png); }
.carousel-control-next-icon { background-image:url(../img/icon_der.png); }

.carousel-indicators [data-bs-target] { width:20px;height:20px;margin-left:5px;margin-right:5px;border-top:none;border-bottom:none;border-radius:10px;background-color:#000; }
.carousel-indicators button.active { background-color:#E14192; }
.carousel-indicators { position:relative; }
.carousel-caption { position: relative;top:auto;left:0;border-radius:30px;padding:0;width:100%;height:auto;margin-left:auto;margin-right:auto;margin-top:30px;text-align: left; }
.carousel-caption img { width:100%; }

/* 4. fondo negro */
.contenido .boletin-cont-negro .card { background-color: #000;text-align:center; }
.boletin-cont-negro .card h2, .boletin-cont-negro .card h3, .boletin-cont-negro .card h4, .boletin-cont-negro .card p, .boletin-cont-negro .card li { color:#fff; }
.boletin-cont-negro .card img { width:100%; }
.boletin-cont-negro .card .padding { padding:0 30px;width:100%;display:inline-block; }

.boletin-cont-negro .tit { background-size:cover;text-align:center;padding:100px 0 75px 0;margin-bottom:15px; }
.boletin-cont-negro .tit h2 { width:100%;text-align:center;margin:0;padding:0;display:contents; }
.boletin-cont-negro .tit h2 small { margin:0;padding:0; }

.boletin-cont-negro ul { margin:20px 0 0 0;padding:0; }
.boletin-cont-negro ul li { list-style:none;width:80%;margin:0 10%;padding:15px 0;border-top:1px solid #fff; }

/* 5. cedeti tv */
.boletin-cont-cedetitv .cont-item { width:102%;margin-left:-1%; }
.boletin-cont-cedetitv .item { width:200px;margin-left:10px;margin-right:10px;float:left;margin-top:20px; }
.boletin-cont-cedetitv .item h3 { margin-bottom:10px; }
.boletin-cont-cedetitv .item iframe { width:200px;height:410px;margin-right:12px; }

.item-cedetitv { width:100%; }

/* paginador */
.uc-pagination { margin-top:40px;margin-bottom:50px; }
.uc-pagination_pages .page-item.active .page-link, .uc-pagination_pages .page-item:hover .page-link { color: #e14192;text-decoration: none;border: 1px solid #e14192; }
.uc-icon, .uc-svg-icon { color: #e14192;font-size:28px; }