/* generales */
.cont-eresnuevoa .uc-heading-decoration { background-color: #b5c5e6; }
.cont-eresnuevoa a.uc-btn, .cont-eresnuevoa button.uc-btn { background-color:#fff;border:3px solid #b5c5e6; }
.cont-eresnuevoa a:hover.uc-btn, .cont-eresnuevoa a:focus.uc-btn, .cont-eresnuevoa button:hover.uc-btn, .cont-eresnuevoa button:focus.uc-btn { background-color:#b5c5e6; }

.menu-eresnuevoa { width:100%;display:inline-block; }
.menu-eresnuevoa ul { padding:0;margin:0;margin-top:10px; }
.menu-eresnuevoa ul li { list-style:none;float:left;display:inline-block;margin:0;padding:0; }
.menu-eresnuevoa ul li a { background:#b5c5e6;margin-right:1px;padding:9px 12px;display:inline-block;color:#000; }
.menu-eresnuevoa ul li a:hover, .menu-eresnuevoa ul li a:focus, .menu-eresnuevoa ul li a.active { text-decoration:none;background-color:#5379BC;color:#fff; }

.submenu-eresnuevoa { width:100%;display:inline-block; }
.submenu-eresnuevoa ul { padding:0;margin:0;margin-top:10px; }
.submenu-eresnuevoa ul li { list-style:none;float:left;display:inline-block;margin:0;padding:0; }
.submenu-eresnuevoa ul li a { background:transparent;margin-right:-1px;padding:2px 8px;display:inline-block;color:#000; }
.submenu-eresnuevoa ul li a:hover, .submenu-eresnuevoa ul li a:focus { text-decoration:none;color:#000;background-color:rgba(0,0,0,0.2) }
.submenu-eresnuevoa ul li a.active { border-bottom:2px solid #000; }

/* eres nuevo/a */
.quienesquien .item {	width: 100%;display: inline-block;margin-top:7px; }
.quienesquien img { width:22%;float:left; }
.quienesquien .txt { width:73%;float:right; }
.quienesquien .txt h3 { margin-bottom:7px; }
.quienesquien .txt p { margin-top:5px;margin-bottom:0;font-size:16px;line-height:20px; }

.signos .item {	width: 100%;display: inline-block; }
.signos img { width:28%;float:left; }
.signos .txt { width:65%;float:right;text-align:left; }
.signos h4 { margin-top:0;margin-bottom:10px; }
.signos ul { margin:0;padding:0;width:100%;display:inline-block;margin-bottom:20px; }
.signos ul li { list-style:none;margin:0;padding:5px 0;border-top:1px solid #dadada;border-bottom:1px solid #dadada;margin-top:-1px;width:100%; }

.organigrama { background-color:#fff;border-radius:20px;padding:20px;position:relative; }
.organigrama img { width:70%;margin-left:15%; }
.organigrama .uc-vertical-tabs { width:70%;position:absolute;top:550px;display:block;margin-left:15%; }
.organigrama .uc-vertical-tabs .uc-vertical-tabs_item { float:left;border:none; }
.organigrama .uc-vertical-tabs .uc-vertical-tabs_item-link { padding:15px;width:100%;float:left;background-color:transparent;border:none; }
.organigrama .uc-vertical-tabs a:hover.uc-vertical-tabs_item-link { border-bottom:3px solid #4270b2; }
.organigrama .uc-vertical-tabs .uc-vertical-tabs_item-link.soporte { width:90px;height:62px;margin-left: 30px;}
.organigrama .uc-vertical-tabs .uc-vertical-tabs_item-link.servicios { width:100px;height:62px;margin-left:30px;}
.organigrama .uc-vertical-tabs .uc-vertical-tabs_item-link.id { width:170px;height:82px;margin-left:55px;margin-top:-20px;}
.organigrama .uc-vertical-tabs .uc-vertical-tabs_item-link.web { width:155px;height:82px;margin-left:25px;margin-top:-20px;}
.organigrama .uc-vertical-tabs .uc-vertical-tabs_item-link.ec { width:135px;height:82px;margin-left:20px;margin-top:-20px;}
.organigrama .uc-tab-body { width:100%;border-radius:0;padding:0px; }

/* protocolos */
.tit-protocolos { width:100%;display:inline-block;margin-bottom:20px;background-color:#fff;padding:20px;border-radius:20px; }
.menu-protocolos a.uc-btn { display:flex; }
.menu-protocolos a img { width:90px;margin-right:15px;float:left; }
.menu-protocolos a p { float:left;margin-bottom:0; }
.menu-protocolos a i { background-image:url(../img/icon_abajo.png);background-repeat:no-repeat;background-position:center;min-width:60px;height:60px;display:block;float:right;background-size:30px;border-radius:30px;background-color:#849ed6;border:4px solid #849ed6;margin-left:15px;margin-top:15px; }
.menu-protocolos a:hover { background-color:#849ed6 !important;border-color:#849ed6;color:#fff; }
.menu-protocolos a:hover i { background-color:transparent;border:4px solid #fff; }
.protocolos { width:100%;float:left;display:inline-block;border-bottom:1px solid #dadada;padding:10px 0; }
.protocolos .img { width:100px;float:left; }
.protocolos .txt { width:100%;float:left;margin-left:-100px;padding-left:120px; }

/* productos */
.productos { width:100%;display:inline-block;margin-bottom:20px;background-color:#fff;padding:20px;border-radius:20px; }
.productos video { width:100%;height:320px; }
.productos h4 { margin-top:20px;padding-bottom:10px; }
