/* generales */
.cont-recursos .uc-heading-decoration { background-color: #cdd7b9; }
.cont-recursos a.uc-btn, .cont-recursos button.uc-btn { background-color:#fff;border:3px solid #cdd7b9; }
.cont-recursos a:hover.uc-btn, .cont-recursos a:focus.uc-btn, .cont-recursos button:hover.uc-btn, .cont-recursos button:focus.uc-btn { background-color:#cdd7b9; }

.menu-recursos { width:100%;display:inline-block; }
.menu-recursos ul { padding:0;margin:0;margin-top:10px; }
.menu-recursos ul li { list-style:none;float:left;display:inline-block;margin:0;padding:0; }
.menu-recursos ul li a { background:#cdd7b9;margin-right:1px;padding:9px 12px;display:inline-block;color:#000; }
.menu-recursos ul li a:hover, .menu-recursos ul li a:focus, .menu-recursos ul li a.active { text-decoration:none;background-color:#5f6d3e;color:#fff; }

/* recursos */
.descarga-logos img { width:100%; }

.manual_firma img { width:100%;border:3px solid #dadada;padding:10px; }
.manual_firma p { font-size:16px;line-height:19px;margin-top:10px; }

.descargas .versiones img { width:140%;margin-left:-20%; }
.descargas .versiones a.uc-btn img { width:12px;margin-left:0%; }
.descargas a.item-ppt { display: inline-block;width:75px;float:left;border:3px solid #dadada;border-radius:50%;padding:5px;margin-right:5px;filter: grayscale(1); }
.descargas a:hover.item-ppt { display: inline-block;width:75px%;border:3px solid #333;filter: grayscale(0);transition-property: filter;transition-duration: 0.3s;  }
.img_plantillas img { width:100%;border:1px solid #cacaca;border-radius:10px; }

.descargas ul { margin:0;padding:0; }
.descargas ul li { margin:0;padding:0;list-style:none;width:100%;display:inline-block; }
.descargas a.item { display:block;width:100%;float:left;border:3px solid #dadada;padding:10px; }
.descargas a:hover.item { display: inline-block;width:100%;border:3px solid #333; }

.icon { width:12%;margin-left:0.25%;float:left;margin-bottom:20px; }
.icon a.item { display: inline-block;width:100%;float:left;border:3px solid #dadada;padding:10px; }
.icon a:hover.item { display: inline-block;width:100%;border:3px solid #333; }
